html {
  background: url(../img/bgimg.jpg) no-repeat center center fixed;
  origin background-size: cover;
  background-size: cover;
}

hr {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05)
  inset, 0px 0px 8px rgba(255, 215, 0, 0.6);
}

/*social list styles here*/

.social ul li img {
  border: none;
  box-shadow: none;
  display: inline-block;
  max-width:50px;
  max-height:50px;
}
.media {
  width: 100px;
  display: inline-block;
  margin:auto;
  padding-left: 125px;
}

/*IMG styles here*/
.about_pics {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  display: block;
}
img {
    border: 3px solid black;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(255, 215, 0, 0.6);
    width: 300px;
    height: 300px;
}

/*IMG styles end here*/

em {
  font-style: oblique;
  font-weight: bold;
}
h1 {
  text-align: center;
  text-shadow: 0 0 3px gold;
}

h2 {
  text-align: center;
  font-style: oblique;
}
h3 {
    text-align: center;
    text-shadow: 0 0 3px gold;
}
ul li {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 0 0 3px gold;
}
p .strong {
  font-weight: bolder;
  color: gold;
}

.projects img {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin: 0 10px;
}
.projects {
  text-align: center;
  color: white;
  text-shadow: 0 0 5px #000;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 10px;
  margin: 3px;
  background-color: black;
}
.container {
  text-align: center;
  color: white;
  text-shadow: 0 0 5px #000;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 10px;
  margin: 3px;
  background-color: black;
}

/*Navigation styles start here*/

nav ul li {
  text-shadow: 0 0 10px #000;
  text-decoration: none;
  display: inline-block;
  width: 15%;
  font-size: 20px;
  margin-left: 25px;
  text-align: center;
  margin: 0 50px;
}
a:hover { text-shadow: 0 0 5px #fff;
}

a:visited {
  color:white;
}
/*Navigation styles end here*/
