html {
  background: url(../img/bgimg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
hr {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(255, 215, 0, 0.6);
}

.about_pics {
 display: inline-block;
 width: 100px;
}

img {
    border: 3px solid black;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(255, 215, 0, 0.6);
}

h1 {
  text-align: center;
  text-shadow: 0 0 3px gold;
}

h2 {
  text-align: center;
  font-style: oblique;
}

h3 {
  text-shadow: 0 0 5px #fff;
}

nav ul li {
  text-shadow: 0 0 10px #000;
  text-decoration: none;
  display: inline-block;
  width: 15%;
  font-size: 20px;
  margin-left: 25px;
  text-align: center;
  margin: 0 50px;
}
a:hover { text-shadow: 0 0 5px #fff;
}

a:visited {
  color:white;
}
